.header{
    text-align:center;
    background-color: blue;
}
.news-name{
    font-size: 3.5rem;
    
    color: #fff;
    text-decoration: none;
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
   
}
/* topic bar */
.topic-bar{
    background-color: grey;
}
.topic-text{
    display:inline-block;
    color: white;
    padding:0 10px;
}
.topic-text a{
    color: white;
    text-decoration: none;
}
.topic-text a:hover{
    background-color: #333;
    cursor: pointer;
}

.carousel-image{
    width: 100%;
    height: 300px;
    padding: 0 200px;
}

/* sport */
#sport{
    padding: 100px;
    background-color: #ccc;
}
#sport a{
    text-decoration: none;
    color: red;
}
#sport a:hover{
    text-decoration: underline;
    color: blue;
}

/* bussiness */
#bussiness{
    padding: 100px;
    background-color: #fff;
}
#bussiness a{
   text-decoration: none;
    color:red;
}
#bussiness a:hover{
    text-decoration: underline;
     color:blue;
 }

#bussiness ul{
    list-style: square;
}

/* international */
#international{
    padding: 100px;
    background-color: #ccc;
}
#international a{
    text-decoration: none;
    color: red;
}
#international a:hover{
    text-decoration: underline;
    color:blue;
}
/* footer */
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    
}
#footer{
    background-color: #000;
    text-align: center;
    color: #fff;
}

.icon{
    padding: 8px;
}
